# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
env/
*.sqlite3

# Jupyter
.ipynb_checkpoints

# Spring Boot / Java
/target/
/build/
*.class
*.jar
*.war

# IDE
.idea/
*.iml
*.ipr
*.iws

# OS
.DS_Store
Thumbs.db
